{{- $styles := resources.Get "css/site.css" | minify | fingerprint -}}
{{- $script := resources.Get "js/site.js" | minify | fingerprint -}}
<!doctype html>
<html lang="{{ site.Language.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.Title }}</title>
  <meta name="description" content="{{ site.Params.description }}">
  <meta name="theme-color" content="#102b2b">
  <meta property="og:title" content="{{ site.Title }}">
  <meta property="og:description" content="{{ site.Params.description }}">
  <meta property="og:type" content="website">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&family=Newsreader:opsz,wght@6..72,400;6..72,500;6..72,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
  <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>
</head>
<body>
  {{- readFile "index.html" | replaceRE `(?s)^.*?<body>` "" | replaceRE `(?s)</body>.*$` "" | safeHTML -}}
</body>
</html>
